@font-face {
   font-family: 'Station';
   src: url('fonts/station-webfont.woff2') format('woff2'),
        url('fonts/station-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   margin: 0;
   font-family: 'Station', sans-serif;
   background-image: linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1) 64.7%, rgba(172,253,163,0.64) 112.1% );
   min-height: 100vh;
   color: #fff;
}

button {
   cursor: pointer;
   font-family: 'Station', sans-serif;
   color: #fff;
}

.popup {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   transition: all 1s ease;
}
.popup__image {
   width: 100px;
   height: 100px;
   background: url(img/logo.png) center / cover;
   border-radius: 15px;
   margin: 1rem 0 0 0;
}
.popup__selection {
   text-align: center;
   padding: 1rem 0 00.5rem;
}
.selection__title {
   font-size: 1.6rem;
   margin: 0 0 0.5rem 0;
}
.selection__btn {
   padding: 0.5em 1em;
   min-width: 150px;
   background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
   border: none;
   border-radius: 25px;
   font-size: 1.2rem;
   margin: 0 2rem 0 0;
   transition: all 0.3s ease;
}
.selection__btn.active {
   border: 3px solid #fff;
}
.selection__btn:last-child {
   margin: 0;
}
.selection__btn:hover {
   transform: scaleX(1.06);
}
form {
   overflow: hidden;
   padding: 0 0.5rem 1.5rem 0.5rem;
   text-align: center;
}
.popup__inputs {
   margin: 0 0 1.5rem 0;
}
.popup__input {
   display: inline-block;
   margin: 0 1.3rem 0 0;
   transition: all 0.4s ease;
   /* transform: translateY(-110%); */
}
.popup__input:last-child {
   margin: 0;
}
label {
   display: block;
   font-size: 1.4rem;
   margin: 3px;
   cursor: pointer;
}
input {
   outline: none;
   border: none;
   border-radius: 5px;
   box-shadow: 2px 2px 3px #0004;
   padding: 0.5rem 1rem;
   font-size: 1.2rem;
   width: 200px;
   background-color: #e9c46a;
   font-family: 'Station', sans-serif;
}
.popup__start-btn {
   padding: 0.4em 1em;
   min-width: 150px;
   background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );
   border: none;
   border-radius: 25px;
   box-shadow: 2px 2px 5px #0004;
   font-size: 1.5rem;
   transition: all 0.3s ease;
}
.popup__start-btn:hover {
   transform: scale(1.1);
}
.popup.inactive {
   height: auto;
}
.popup.inactive form,
.popup.inactive .popup__start-btn {
   display: none;
}

main {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   padding: 2rem;
   display: none;
}
main.active {
   display: grid;
}
.player {
   font-size: 4rem;
   text-align: center;
}
.player__name {
}
.player__score {
}
.player__symbol {
   font-size: 8rem;
}
.board {
   margin: 0 auto;
   text-align: center;
}
.board__grid {
   display: grid;
   grid-template: repeat(3, 150px) / repeat(3, 150px);
   gap: 15px;
   position: relative;
}
.board__grid.active .grid__item {
   filter: blur(5px);
}
.round-btn {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate3d(-50%, -50%, 0) scale(0);
   font-size: 2rem;
   padding: 0.25em 1em;
   background-color: rgb(254,122,152);
   border: none;
   border-radius: 25px;
   transition: all 0.3s ease;
}
.board__grid.active .round-btn {
   transform: translate3d(-50%, -50%, 0) scale(1);
}
.grid__item {
   background-image: linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1));
   box-shadow: 0 0 3px rgba(254,122,152,0.6);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 5rem;
   transition: all 0.5s ease;
   cursor: pointer;
}
.board__grid.active .grid__item {
   cursor: default;
}
.grid__item[data-corner="tl"] {
   border-top-left-radius: 15px;
}
.grid__item[data-corner="tr"] {
   border-top-right-radius: 15px;
}
.grid__item[data-corner="bl"] {
   border-bottom-left-radius: 15px;
}
.grid__item[data-corner="br"] {
   border-bottom-right-radius: 15px;
}
.grid__item:nth-child(odd) {
   background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );
}
.board__restart-btn {
   margin: 1rem 0 0 0;
   padding: 0.4em 1em;
   min-width: 150px;
   background-image: radial-gradient( circle 957px at 8.7% 50.5%,  rgba(246,191,13,1) 0%, rgba(249,47,47,1) 90% );
   border: none;
   border-radius: 25px;
   box-shadow: 3px 3px 5px #0004;
   font-size: 1.5rem;
   transition: all 0.15s ease;
}
.board__restart-btn:active {
   box-shadow: 1px 1px 5px #0004;
}